body {
	background: black;
}

video {
	transition: opacity 0.5s;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

video.hide {
	opacity: 0;
}

#splash {
	z-index: 100;
}

#playback {
	z-index: 98;
}

#bar {
	transition: opacity 0.5s;
	opacity: 1;
	background: rgba( 255, 255, 255, .25 );
	height: 1px;
	left: 1em;
	right: 1em;
	bottom: 1em;
	position: absolute;
	z-index: 99;
}

#bar.hide {
	opacity: 0;
}

#progress {
	transition: width .5s;
	background: rgba( 255, 255, 255, 1 );
	width: 0%;
	height: 100%;
}
