<html>
	<head>
			<title>Admin</title>
	</head>
	<body>
		<a href="/admin/reload">Reload Remote Browser</a>

		<h3>Playback</h3>
		<a href="/admin/pause">Pause</a>
		<a href="/admin/stop">Stop</a>
		<ul>
			<li><a href="/admin/play/01">01</a></li>
			<li><a href="/admin/play/02">02</a></li>
			<li><a href="/admin/play/03">03</a></li>
			<li><a href="/admin/play/04">04</a></li>
			<li><a href="/admin/play/05">05</a></li>
			<li><a href="/admin/play/06">06</a></li>
			<li><a href="/admin/play/07">07</a></li>
			<li><a href="/admin/play/08">08</a></li>
			<li><a href="/admin/play/09">09</a></li>
			<li><a href="/admin/play/10">10</a></li>
			<li><a href="/admin/play/11">11</a></li>
			<li><a href="/admin/play/12">12</a></li>
			<li><a href="/admin/play/13">13</a></li>
			<li><a href="/admin/play/14">14</a></li>
			<li><a href="/admin/play/15">15</a></li>
			<li><a href="/admin/play/16">16</a></li>
			<li><a href="/admin/play/17">17</a></li>
			<li><a href="/admin/play/18">18</a></li>
			<li><a href="/admin/play/19">19</a></li>
			<li><a href="/admin/play/20">20</a></li>
		</ul>
	</body>
</html>
