extends base.pug

block head
	- title = 'Admin'

block body
	a(href='/admin/reload') Reload Remote Browser
	h3 Playback
	a(href='/admin/stop') Stop
	ul
		for video in videos
			li: a(href=`/admin/play/${video.name}`)=video.name
